[Desktop Entry]
Encoding=UTF-8
Categories=Office
Exec=com-pake-discord
Icon=com-pake-discord
Name=com-pake-discord
Name[zh_CN]=discord
StartupNotify=true
Terminal=false
Type=Application
